*{
  margin:0px;
  padding: 0px;
}
body{
  background-color:salmon;
  font-family:sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-wrapper{
  background-color: black;
  color: white;
  height: 500px;
  width: 400px;
  margin: 0px auto;
  text-align: center;
  padding: 0px 40px;
  border-radius: 5px;
}
.main-wrapper h1{
  padding: 1rem;
}
form{
  margin-top: 1rem;
  border: 2px solid white;
  
  margin: 1rem auto;
  border-radius: 3px;
}
form input{
  background: transparent;
  border: 2px solid gray;
  font-size: 1.1rem;
  margin: 10px 0px;
  padding: 5px 8px;
  border-radius: 4px;
  color: white;
}
form button{
  background-color:salmon;
  border: none;
  padding: 5px 8px;
  font-size: 1.1rem;
  font-weight:600;
  border-radius: 4px;
  border: 2px solid gray;

}
.todo-list{
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 15px 8px;
  border-radius: 4px;
  align-items: center;
  font-weight: 600;
}

.editButton{
  background-color:salmon;
  border: none;
  padding: 5px 8px;
  font-size: 1.1rem;
  font-weight:600;
  border-radius: 4px;
  border: 2px solid gray;
}


@media (max-width:768px) {
  .main-wrapper{
      height: 370px;
      
  margin: 0px 0px;
  padding: 0px 0px;
  width: 305px;

  }
  form{
      border: none;
  }

  form input{
      width: 165px;
  }

  .todo-list{
      width: 265px;
      margin: 0px auto;
  }
}